.top-game {
    padding-bottom: 32px;
}

.top-game-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
}

.nft-div {
    height: 350px;
    background: #292935;
    display: flex;
    align-items: center;
    border-radius: 11px;
}
