.grdbtn {
    width: 196px;
    height: 45px;
    left: 970px;
    top: 33px;
    background: linear-gradient(90.99deg, #F1028E -0.66%, #FAB43D 99.89%);
    border-radius: 6px !important;
    border: 1px solid #FAB43D !important;

}