/* .bg_img {
    width: 100%;
    height: 493px;
    background-image: url('../../assets/Group.svg') !important;
    background: rgba(24, 22, 33, 0.5);
    background-repeat: no-repeat;
    background-size: 100% 86%;
} */
